<div class="col-md-3"   >
  <div style="position:absolute; z-index:3; margin-top:25%; margin-bottom:auto; width: 90%; text-align:center">
     <%= link_to api.api_name, api.address, class: 'btn btn-lg btn btn-prim ry button-blue' %>
    </div>
  <%= link_to api.address do %>
    <%= image_tag api.apicture.url , :style => "border: 2px solid navy", :class => "img-rounded img-responsive centered"  if api.apicture? %>
 <% end %>
  <% if logged_in? && current_user.admin?  %>
    <br>   <%= link_to "delete", api, method: :delete,
      data: { confirm: "You are sure?" } %>
  <% end %>
</div>
