<% provide(:title, 'New Api') %>
<h1> New Api </h1>
<%= form_for(@api) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :api_name%>
  </div>
    <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
  <% end %>
