<footer class="footer">
  <small>
    applications to use on Romu's home. <%= link_to 'Click here for upcoming updates', updates_path %>.
  </small>
  <nav>
      <%= link_to "About",   about_path %>
  </nav>
</footer>
